:root {
	--maxWidth: 800px;
	--minWidth: 800px;
	--minHeight: 20vh;
	--lightBlack: #44444444;
}

* {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	-webkit-tap-highlight-color: transparent;
	font-weight: 400;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrapper {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 480px) {
    .wrapper {
        padding: 0.3rem;
    }
}

.title {
	font-size: 3rem;
	font-weight: 700;
	padding-bottom: 2rem;
    text-align: center;
}

.formProgress {
    padding: 1rem 1rem 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.progressIcon {
    overflow: visible;
    text-transform: none;
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: 0s;
    position: relative;
    padding-top: 20px;
    text-indent: -9999px;
    color: rgb(54 59 63 / 70%);
    border: none;
    background-color: transparent;
    outline: none !important;
    text-indent: 0;
    -webkit-appearance: button;
    cursor: pointer;
    font-size: 1.5rem;
}

@media screen and (max-width: 480px) {
    .progressIcon {
        font-size: 0.8rem;
    }
}
.progressIcon::before {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 13px;
    height: 13px;
    content: "";
    transform: translateX(-50%);
    transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    border: 2px solid currentColor;
    border-radius: 50%;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 3;
}

.progressIcon::after {
    position: absolute;
    top: 5px;
    left: calc(-50% - 13px / 2);
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: 0s;
    display: block;
    width: 100%;
    height: 2px;
    content: "";
    background-color: currentColor;
    z-index: 1;
}

.firstProgress::after {
    left: calc(-50% - 13px / 0);
}

.progressActive {
    color: #0070f3;
}

.progressActive::before {
    transform: translateX(-50%) scale(1.2);
    background-color: currentColor;
}

.formContainer {
	display: flex;
	align-items: flex-start;
	max-width: var(--maxWidth);
	overflow-x: hidden;
	border-radius: 8px;
	border: 1px solid var(--lightBlack);
	box-shadow: 0 0 3px 2px var(--lightBlack);
	min-height: var(--minHeight);
	padding: 2rem;
}

@media screen and (max-width: 480px) {
    .formContainer {
        padding: 1rem;
    }
}

.firstPanel,
.secondPanel,
.thirdPanel,
.fourthPanel,
.fifthPanel {
    display: none;
}

.showPanel {
    min-width: var(--minWidth);
    display: flex;
    flex-direction: column;
    justify-content: center;

}

@media screen and (max-width: 908px) {
    .showPanel {
        min-width: unset;
    }
}

.panelTitle {
	text-align: left;
	font-size: 2rem;
	font-weight: 500;
}

.newInput {
    display: flex;
    flex-direction: column;
}

.newInput > span {
    padding: 0.8em 0.1em;
    font-size: 1.2rem;
    color: #3d3d3ddb;
}

.newInput span.subResponse {
    padding: 0 0.1em 0.8em 0.1em;
    font-size: 1rem;
}

.newInput input[type="text"] {
    font-size: 1.2rem;
    padding: 0.6rem;
    border-radius: 0.5rem;
    border: 1px solid #eadada;
    outline: 0;
    -webkit-box-shadow: 0 0 2px 0px #44444444;
    box-shadow: 0 0 2px 0px #44444444;
    color: black;
}

.newInput input[type="text"]:hover, .newInput input[type="text"]:focus {
    -webkit-box-shadow: 6px 4px 4px 0px #44444444;
    box-shadow: 6px 4px 4px 0px #44444444;
}

.newInput .radioInput input[type="radio"], .newInput .checkInput input[type="checkbox"] {
    margin-bottom: 0.5rem;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}


.newInput .radioInput label, .newInput .checkInput label {
    font-size: 1.2rem;
    outline: 0;
    color: black;
}

@media screen and (max-width: 480px) {
    .newInput .radioInput input[type="radio"], .newInput .checkInput input[type="checkbox"] {
        -ms-transform: scale(2); /* IE 9 */
        -webkit-transform: scale(2); /* Chrome, Safari, Opera */
        transform: scale(2);
    }

    .newInput .radioInput label, .newInput .checkInput label {
        padding-left: 0.5rem;
    }
}

.navigationButtonsContainer {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nextSection, .prevSection, .finishSection {
    cursor: pointer;
    color: white;
    background-color: #0070f3;
    font-size: 1.2rem;
    padding: 0.3em 0.9em;
    border-radius: 4px;
    border: 1px solid #0070f3;
    text-align: center;
}

.nextSection:hover, .nextSection:focus,
.finishSection:hover, .finishSection:focus,
.prevSection:hover, .prevSection:focus {
    background-color: #0066db;
    transform: scale(1.05);
    transition: all 0.2s linear;
}

.prevSection {
    background-color: #ba000d;
    border: 1px solid #ba000d;
}

.finishSection {
    background-color: #255d00;
    border: 1px solid #255d00;
}

.prevSection:hover, .prevSection:focus {
    background-color: #b2102f;
}

.finishSection:hover, .finishSection:focus {
    background-color: hsl(96, 100%, 15%);
}




.valuesContainer span.value {
    display: flex;
    align-items: center;
    padding: 0.4rem 0.1rem;
}

.valuesContainer span.value input[type="text"] {
    width: 80%;
}

.valuesContainer span.value img {
    padding-left: 0.5rem;
    cursor: pointer;
}

.valuesContainer span.value img:hover {
    transform: scale(1.05);
    transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.addMoreValues {
    display: flex;
    align-items: center;
    padding: 0.3em 0.5em;
    border: 1px solid var(--lightBlack);
    border-radius: 6px;
    background-color: #44444415;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 1rem;
    cursor: pointer;
    font-size: 0.9rem;
}

.addMoreValues:hover, .addMoreValues:focus {
    transform: scale(1.05);
    transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.addMoreValues img {
    padding-right: 0.5rem;
    pointer-events: none;
}

.addMoreValues span {
    pointer-events: none;
}