:root {
	--maxWidth: 800px;
	--minWidth: 800px;
	--minHeight: 20vh;
	--lightBlack: #44444444;
    --borderWhite: #dadce0;
    --backgroundWhite: #f7f7f7;
    --codeBlack: #202124;
    --prevRed: #ba000d;
    --finishGreen: #255d00;
    --backgroundNext: #0066db;
    --nextBlue: #0070f3;
    --white: #FFF;
    --black: #000;
    --eaWhite: #eadada;
    --spanColor: #3d3d3ddb;
    --progressBlack: #363b3fb3;
}

* {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	-webkit-tap-highlight-color: transparent;
	font-weight: 400;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.wrapper {
	padding: 1rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

@media screen and (max-width: 480px) {
    .wrapper {
        padding: 0.3rem;
    }
}

.title {
	font-size: 3rem;
	font-weight: 700;
	padding-bottom: 2rem;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .title {
        font-size: 2.3rem;
    }
}

.formProgress {
    padding: 1rem 1rem 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.progressIcon {
    overflow: visible;
    text-transform: none;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
         -o-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
    position: relative;
    padding-top: 20px;
    text-indent: -9999px;
    color: var(--progressBlack);
    border: none;
    background-color: transparent;
    outline: none !important;
    text-indent: 0;
    -webkit-appearance: button;
    cursor: pointer;
    font-size: 1.5rem;
}

@media screen and (max-width: 480px) {
    .progressIcon {
        font-size: 0.8rem;
    }
}
.progressIcon::before {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 13px;
    height: 13px;
    content: "";
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    -o-transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    border: 2px solid currentColor;
    border-radius: 50%;
    background-color: var(--white);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 3;
}

.progressIcon::after {
    position: absolute;
    top: 5px;
    left: calc(-50% - 13px / 2);
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
         -o-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
    display: block;
    width: 100%;
    height: 2px;
    content: "";
    background-color: currentColor;
    z-index: 1;
}

.firstProgress::after {
    left: calc(-50% - 13px / 0);
}

.progressActive {
    color: #0070f3;
}

.progressActive::before {
    -webkit-transform: translateX(-50%) scale(1.2);
        -ms-transform: translateX(-50%) scale(1.2);
            transform: translateX(-50%) scale(1.2);
    background-color: currentColor;
}

.formContainer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	max-width: var(--maxWidth);
	overflow-x: hidden;
	border-radius: 8px;
	border: 1px solid var(--lightBlack);
	-webkit-box-shadow: 0 0 3px 2px var(--lightBlack);
	        box-shadow: 0 0 3px 2px var(--lightBlack);
	min-height: var(--minHeight);
	padding: 2rem;
}

@media screen and (max-width: 480px) {
    .formContainer {
        padding: 1rem;
    }
}

.firstPanel,
.secondPanel,
.thirdPanel,
.fourthPanel,
.fifthPanel {
    display: none;
}

.showPanel {
    min-width: var(--minWidth);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}

@media screen and (max-width: 908px) {
    .showPanel {
        min-width: unset;
    }
}

.panelTitle {
	text-align: left;
	font-size: 2rem;
	font-weight: 500;
}

.newInput {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.newInput > span {
    padding: 0.8em 0.1em;
    font-size: 1.2rem;
    color: var(--spanColor);
}

.newInput span.subResponse {
    padding: 0 0.1em 0.8em 0.1em;
    font-size: 1rem;
}

.newInput input[type="text"] {
    font-size: 1.2rem;
    padding: 0.6rem;
    border-radius: 0.5rem;
    border: 1px solid var(--eaWhite);
    outline: 0;
    -webkit-box-shadow: 0 0 2px 0px #44444444;
    box-shadow: 0 0 2px 0px #44444444;
    color: var(--black);
}

.newInput input[type="text"]:hover, .newInput input[type="text"]:focus {
    -webkit-box-shadow: 6px 4px 4px 0px #44444444;
    box-shadow: 6px 4px 4px 0px #44444444;
}

.newInput .radioInput input[type="radio"], .newInput .checkInput input[type="checkbox"] {
    margin-bottom: 0.5rem;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}


.newInput .radioInput label, .newInput .checkInput label {
    font-size: 1.2rem;
    outline: 0;
    color: var(--black);
}

@media screen and (max-width: 480px) {
    .newInput .radioInput input[type="radio"], .newInput .checkInput input[type="checkbox"] {
        -ms-transform: scale(1.7); /* IE 9 */
        -webkit-transform: scale(1.7); /* Chrome, Safari, Opera */
        transform: scale(1.7);
        margin-bottom: 1.3rem;
    }

    .newInput .radioInput label, .newInput .checkInput label {
        padding-left: 0.5rem;
    }
}

.navigationButtonsContainer {
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.nextSection, .prevSection, .finishSection {
    cursor: pointer;
    color: var(--white);
    background-color: var(--nextBlue);
    font-size: 1.2rem;
    padding: 0.3em 0.9em;
    border-radius: 4px;
    border: 1px solid var(--nextBlue);
    text-align: center;
}

.nextSection:hover, .nextSection:focus,
.finishSection:hover, .finishSection:focus,
.prevSection:hover, .prevSection:focus {
    background-color: var(--backgroundNext);
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.prevSection {
    background-color: var(--prevRed);
    border: 1px solid var(--prevRed);
}

.finishSection {
    background-color: var(--finishGreen);
    border: 1px solid var(--finishGreen);
}

.prevSection:hover, .prevSection:focus {
    background-color: #b2102f;
}

.finishSection:hover, .finishSection:focus {
    background-color: hsl(96, 100%, 15%);
}

.valuesContainer span.value {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.4rem 0.1rem;
}

.valuesContainer span.value input[type="text"] {
    width: 80%;
}

.valuesContainer span.value img {
    padding-left: 0.5rem;
    cursor: pointer;
}

.valuesContainer span.value img:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.addMoreValues {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.3em 0.5em;
    border: 1px solid var(--lightBlack);
    border-radius: 6px;
    background-color: var(--lightBlack);
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    margin-top: 1rem;
    cursor: pointer;
    font-size: 0.9rem;
}

.addMoreValues:hover, .addMoreValues:focus {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.addMoreValues img {
    padding-right: 0.5rem;
    pointer-events: none;
}

.addMoreValues span {
    pointer-events: none;
}

.downloadButton, .downloadOffline {
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 1rem;
    padding: 0.2em 0.6em;
    border: 1px solid var(--lightBlack);
    border-radius: 7px;
    -webkit-box-shadow: 4px 6px 3px 0 var(--lightBlack);
            box-shadow: 4px 6px 3px 0 var(--lightBlack);
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    font-size: 1.3rem;

}

.downloadButton:active, .downloadOffline:active {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

/* .downloadButton:hover {
    transform: scale(1.05);
}   */

.downloadButton img, .downloadOffline img {
    padding-right: 1rem;
    pointer-events: none;
}

.downloadButton span, .downloadOffline span {
    pointer-events: none;
}

.resultSpan {
    font-size: 1.5rem;
    padding-top: 1.5rem;
}

.resultSubSpan {
    font-size: 1.2rem;
    padding-top: 1.1rem;
}

.resultCode {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 32px 0;
    overflow: auto;
    padding: 16px;
    white-space: pre;
    border: 1px solid var(--borderWhite);
    background: var(--backgroundWhite);
    color: var(--codeBlack);
    font: 1rem/1.5em SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
    text-align: left;
    word-spacing: normal;
}

@media screen and (max-width: 480px) {
    .resultCode {
        padding: unset;
        font: unset;
    }
}